.thank-you-container {
    text-align: center;
    max-width: 600px; /* Adjust the width as needed */
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(39, 38, 46);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increase the shadow size */
  }  
  
  .thank-you-title {
    color: white;
  }
  
  .thank-you-subtitle {
    color: white;
  }
  
  .error-message {
    color: #d06969;
  }
  
  .error-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .error-button:hover {
    background-color: #0056b3;
  }
  